@using MVCShoesShop.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MVCShoesShop.Models.SAN_PHAM>

@{
    ViewBag.Title = "Shoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-weight:bold; text-align:center">Quản lý sản phẩm</h1>
<a href="@Url.Action("Create","SanPham")" style="background-color:yellowgreen; color:black; font-weight:bold; font-size:15pt; padding:5px 15px 5px 15px">
    Thêm mới
</a>

<table class="table">
    <tr>
        <th style="text-align:center">
            Tên sản phẩm
        </th>
        <th style="text-align:center">
            Số lượng còn
        </th>
        <th style="text-align:center">
            Đơn giá
        </th>
        <th style="text-align:center">
            Hình ảnh
        </th>
        <th style="text-align:center">
            Tên loại sản phẩm
        </th>
        <th style="text-align:center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.SoLuongCon)
            </td>
            <td style="text-align:center">
                $ @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td style="text-align:center">
                <img src="@Url.Content("~/images/" + item.Images)" style="width:150px;height:150px" />
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.LOAI_SAN_PHAM.TenLoai)
            </td>
            <td style="text-align:center">
                <a href="@Url.Action("Edit","SanPham", new{ id = item.MaSP })" style="background-color:deepskyblue; color:black; font-weight:bold; font-size:13pt; padding:5px 15px 5px 15px; text-align:center">
                    Sửa
                </a> &nbsp;
                @*@Html.ActionLink("Sửa", "Edit", new { id = item.MaSP })*@
                <a href="@Url.Action("Details","SanPham", new{ id = item.MaSP })" style="background-color:sandybrown; color:black; font-weight:bold; font-size:13pt; padding:5px 15px 5px 15px; text-align:center">
                    Chi tiết
                </a> &nbsp;
                <a href="@Url.Action("Delete","SanPham", new{ id = item.MaSP })" style="background-color:indianred; color:black; font-weight:bold; font-size:13pt; padding:5px 15px 5px 15px; text-align:center">
                    Xóa 
                </a>
            </td>
        </tr>
    }
</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Shoes", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
