@model MVCShoesShop.Models.CT_PHIEU_GIAO_HANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; font-weight:bold">Chi tiết phiếu giao hàng</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <h3 style="font-weight:bold">Thông tin khách hàng</h3>
        @*Tên khách hàng*@
        <dt>
            Tên khách hàng :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PHIEU_GIAO_HANG.KHACH_HANG.TenKH)
        </dd>
        @*Địa chỉ*@
        <dt>
            Địa chỉ :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PHIEU_GIAO_HANG.KHACH_HANG.DiaChi)
        </dd>
        @*SĐT*@
        <dt>
            SĐT :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PHIEU_GIAO_HANG.KHACH_HANG.SDT)
        </dd>
        @*Email*@
        <dt>
            Email :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PHIEU_GIAO_HANG.KHACH_HANG.Email)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <h3 style="font-weight:bold">Thông tin phiếu giao hàng</h3>
        @*Tên sản phẩm*@
        <dt>
            Tên sản phẩm :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SAN_PHAM.TenSP)
        </dd>
        @*Số lượng*@
        <dt>
            Số lượng :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        @*Đơn giá*@
        <dt>
            Đơn giá :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonGia) $
        </dd>
        @*Thành tiền*@
        <dt>
            Thành tiền :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThanhTien) $
        </dd>
        @*Ghi chú*@
        <dt>
            Ghi chú :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PHIEU_GIAO_HANG.GhiChu)
        </dd>
        @*Button*@
        <dt></dt>
        <dd>
            <br />
            <a href="@Url.Action("Index","CTPGH")" style="background-color:burlywood; color:black; font-weight:bold; font-size:13pt; padding:8px 15px 8px 15px; text-align:center">
                Trở về
            </a>
        </dd>
    </dl>
</div>
