<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Shop Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Quản lý shop bán giày", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Quản lý sản phẩm", "Shoes", "SanPham")</li>
                    <li>@Html.ActionLink("Quản lý loại sản phẩm", "Index", "LoaiSP")</li>
                    <li>@Html.ActionLink("Quản lý khách hàng", "Index", "KhachHang")</li>
                    <li>@Html.ActionLink("Quản lý hóa đơn", "Index", "CTHD")</li>
                    <li>@Html.ActionLink("Quản lý đơn đặt hàng", "Index", "CTDDH")</li>
                    <li>@Html.ActionLink("Quản lý phiếu giao hàng", "Index", "CTPGH")</li>
                    @if (Session["Taikhoanadmin"] != null)
                    {
                        <li>@Html.ActionLink("Đăng xuất", "Logout", "Admin")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
