@model MVCShoesShop.Models.KHACH_HANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-weight:bold; text-align:center">Chi tiết khách hàng</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*Tên khách hàng*@
        <dt>
            Tên khách hàng :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>
        @*Địa chỉ*@
        <dt>
            Địa chỉ :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        @*Số điện thoại*@
        <dt>
            Số điện thoại :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
        @*Email*@
        <dt>
            Email :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*Tài khoản*@
        <dt>
            Tài khoản :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDLogin)
        </dd>
        <dt></dt>
        <dd>
            <br />
            <a href="@Url.Action("Index","KhachHang")" style="background-color:burlywood; color:black; font-weight:bold; font-size:13pt; padding:8px 15px 8px 15px; text-align:center">
                Trở về
            </a>
        </dd>
    </dl>
</div>

