@using MVCShoesShop.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<KHACH_HANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-weight:bold;text-align:center">Quản lý khách hàng</h1>

<table class="table">
    <tr>
        <th style="text-align:center">
            Tên khách hàng
        </th>
        <th style="text-align:center">
            Địa chỉ
        </th>
        <th style="text-align:center">
            Số điện thoại
        </th>
        <th style="text-align:center">
            Email
        </th>
        <th style="text-align:center"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="text-align:center">
                <a href="@Url.Action("Details","KhachHang", new{ id = item.MaKH })" style="background-color:sandybrown; color:black; font-weight:bold; font-size:13pt; padding:5px 15px 5px 15px; text-align:center">
                    Chi tiết
                </a> &nbsp;
                <a href="@Url.Action("Delete","KhachHang", new{ id = item.MaKH })" style="background-color:indianred; color:black; font-weight:bold; font-size:13pt; padding:5px 15px 5px 15px; text-align:center">
                    Xóa
                </a>
            </td>
        </tr>
    }
</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
